@model DAL.Models.Invoice.InvoiceFilterModel
@{
    string titleRefix = Model.InvoiceType == "so" ? "bán hàng" : "mua hàng";
    ViewData["Title"] = "Danh sách đơn " + titleRefix;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DAL
@section styles{
    <link href="~/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.css" rel="stylesheet" />

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@(ViewData["Title"])</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@(ViewData["Title"])</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<input type="hidden" value="@Model.InvoiceType" id="hid-invoicetype" />
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-2">
                    <label>Tình trạng</label>
                    <select class="form-control" id="ddl-status-invoice">
                        <option class="">Tất cả</option>
                        <option value="@Contanst.InvoiceStatus_ConNo">Còn nợ</option>
                        <option value="@Contanst.InvoiceStatus_DaThanhToan">Đã thanh toán</option>
                        <option value="@Contanst.InvoiceStatus_Huy">Hủy</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Từ ngày</label>
                    <div class="input-group date">
                        <input type="text" id="FromDate" value="@(Model.FromDate)" class="form-control">
                        <span class="input-group-addon group-date-icon"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>Đến ngày</label>
                    <div class="input-group date">
                        <input type="text" id="ToDate" value="@(Model.ToDate)" class="form-control">
                        <span class="input-group-addon group-date-icon"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>Tìm theo mã đơn/khách hàng/ NCC</label>
                    <input type="text" class="form-control" id="txtkeyword" />
                </div>
                <div class="col-sm-2">
                    <input type="button" value="Tìm" class="btn btn-default btn-filter" id="btn-search" />
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="text-right">
                <a class="btn btn-sm btn-primary" href="/product/productdetail"><i class="fa fa-plus-circle"></i>&nbsp;Tạo mới</a>
                <button class="btn btn-sm btn-success"><i class="fa fa-download"></i>&nbsp;Export excel</button>
                <button class="btn btn-sm btn-success"><i class="fa fa-upload"></i>&nbsp;Import excel</button>
            </div>
            <table class="table table-bordered table-hover dataTable" id="table-invoice" width="100%">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Ngày</th>
                        <th>Giá trị</th>
                        <th>Tình trạng</th>
                        <th>Đối tác</th>
                        <th>Ghi chú</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/plugins/datatable/jquery.datatable.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>

    <script>
        var tableId = "#table-invoice";
        var ajaxURL = "/invoice/searchinvoice";
        var columnData = [
            { "data": "code" },
            { "data": "invoiceDate" },
            { "data": "invoiceTotal" },
            {
                "data": "invoiceStatus", "render": function (data, type, row, meta) {
                    return RenderStatusInvoice(data);
                }
            },
            { "data": "objName" },
            { "data": "note" },
            {
                "data": "id", "render": function (data, type, row, meta) {
                    return RenderTableAction(data);
                }
            },


        ];




        $(document).ready(function () {

            SearchInvoice();
            $("#btn-search").click(function () {
                SearchInvoice();
            });

            $(".date").datepicker({
                format: "dd/mm/yyyy"
            }).on('changeDate', function (e) {
                $(this).datepicker('hide');
            });

        })

        function SearchInvoice() {
            var searchModel = {
                invoiceType: $("#hid-invoicetype").val(),
                invoiceStatus: $("#ddl-status-invoice").val(),
                fromDate: ConverFormatDate($("#FromDate").val()),
                toDate: ConverFormatDate($("#ToDate").val()),
                keyword: $("#keyword").val()
            };

            GenrateDataTableSearch(tableId, ajaxURL, columnData, searchModel);



        }
        function RenderTableAction(invoiceId) {
            var html = "<div class='div-table-action'>" +
                "<i class='fa fa-edit' onclick='GotoInvoiceDetail(" + invoiceId + ")'></i>&nbsp;" +
                "</div>";
            return html;
        }
        function GotoInvoiceDetail(invoiceId) {
            var invoicetype = $("#hid-invoicetype").val();
            var urlEdit = "/invoice/invoicedetail/" + invoicetype + "/" + invoiceId;
            window.open(urlEdit, '_blank');
        }
        function RenderStatusInvoice(status) {
            var statusHTML = "";
            if (status == "ConNo") {
                statusHTML = "<span class='badge badge-primary badge-status'>Đơn nợ</span>";
            }
            else if (status == "DaThanhToan") {
                statusHTML = "<span class='badge badge-success badge-status'>Đã thanh toán</span>";
            }
            else if (status == "Huy") {
                statusHTML = "<span class='badge badge-danger badge-status'>Hủy</span>";
            }
            return statusHTML;
        }
    </script>
}